* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navigation Bar */
.navbar {
    display: flex;
    align-items: center;
    background-color: #232f3e;
    color: white;
    padding: 10px 20px;
}

.navbar-logo img {
    width: 100px;
    cursor: box;
    transition: transform 0.2s;
}

.navbar-logo img:hover {
    color: #ff9900;
    transform: scale(1.1);
}

.navbar-delivery, .navbar-login, .navbar-language, .navbar-orders, .navbar-cart {
    margin-left: 20px;
    cursor: pointer;
    transition: color 0.2s;
    
}

.navbar-delivery:hover, .navbar-login:hover, .navbar-language:hover, .navbar-orders:hover, .navbar-cart:hover {
    color: #ff9900;
}

.navbar-search {
    display: flex;
    margin: 0 20px;
    flex-grow: 1;
}

.navbar-search input {
    width: 100%;
    padding: 5px;
}

.navbar-search button {
    background-color: #ff9900;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    color: white;
}

/* Sidebar */
.sidebar {
    height: 100px;
    width: 200px;
    padding: px;
    background-color: #243c54;
    position: fixed;
    top: 90px;
    left: 0;
    height: 100vh;
    border-right: 1px solid #ddd;
}

.sidebar h2 {
    margin-bottom: 10px;
    color: aliceblue;
}

.sidebar ul {
    list-style-type: none;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #ff9900;
    
}

.sidebar ul li {
    margin: 10px ;
    cursor: pointer;
}

/* Main Content (Products) */
.product-grid {
    margin-left: 220px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    width: calc(25% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.product-card h3 {
    font-size: 1em;
    margin: 10px 0;
}

.product-card p {
    margin: 5px 0;
}

.product-card button {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.product-card:hover {
    transform: scale(1.05);
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #232f3e;
    color: white;
    position: relative;
}
.bar{
    height: 60px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    
}
